@import "tailwindcss";
body{
  font-family: "Roboto", sans-serif;
  background-color:#09090b;

}
a:hover{
  color: #34d399;
  transition: 0.5s;
  animation-duration: 300s;
  animation: ease-in;
}
html {
  scroll-behavior: smooth;
}
nav{
   position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
 
  z-index: 10;
}
